# database files
*.db
*.sqlite
*.sqlite3

# Python cache and environment
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env/

# Node.js
node_modules/
*.eslintcache
*.pack
.cache/

# Backup files
/backups/

# GitHub Actions runner
actions-runner/
backend/actions-runner/
**/_work/
**/_diag/
*.log

# Ignore potential submodule remnants
.gitmodules
